<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    </head>
    <body>

<ul>

    {% block login_logout_panel %}
        <ul>
            <li>
                <a href="{{ path('homepage') }}">
                    Homepage
                </a>
            </li>

            {% if is_granted('ROLE_USER') %}
                <li>Logged in as {{ app.user.username }}</li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>


                <!-- A -->

                <!-- B -->
                <li>
                    <a href="{{ path('admin_chelm') }}">
                        bruksela
                    </a>
                </li>
                <!-- C -->
                 <li>
                    <a href="{{ path('admin_chelm') }}">
                        chelm
                    </a>
                </li>
                <!-- D -->
                <li>
                    <a href="{{ path('admin_dabrowa') }}">
+                        Dobrowa
+                    </a>
                </li>
                <!-- E -->
                <li>
                    <a href="{{ path('admin_elk') }}">
                        Elk
                    </a>
               </li>

                <!-- F -->
                <li>
                    <a href="{{ path('admin_bialystok') }}">
                        bialystok
                    </a>
                </li>

                <!-- G -->

                <!-- H -->
                <li>
                    <a href="{{ path('admin_hel') }}">
                        hel
                    </a>
                </li>
                <!-- I -->

                <!-- J -->
                <li>
                <a href="{{ path('admin_jaroslaw') }}">
                    Jaroslaw
                </a>
                </li>
                <!-- K -->
                 <li>
                 <a href="{{ path('admin_katowice') }}">
                 Katowice
                 </a>
                </li>
                <!-- L -->
        <li>
        <a href="{{ path('admin_lublin') }}">
            Lublin
        </a>
        </li>
                <!-- M -->
                <li>
                    <a href="{{ path('admin_malbork') }}">
+                        Malbork
+                    </a>
                </li>
                <!-- N -->
                <li>
                    <a href="{{ path('admin_narol') }}">
                        Narol
                    </a>
                </li>
                <!-- O -->

                <!-- P -->

                <!-- Q -->

                <!-- R -->

                <!-- S -->

                <!-- T -->

                <!-- U -->

                <!-- V -->

                <!-- W -->

                <!-- X -->

                <!-- Y -->
                 <li>
                    <a href="{{ path('admin_tomaszow') }}">
                        Tomaszow
                    </a>
                </li>

                <!-- Z -->


            {% else %}
                <li>
                    <a href="{{ path('fos_user_security_login') }}">
                        {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endblock login_logout_panel %}





</ul>
    {% block body %}{% endblock %}

    <footer>Version: 0.0.0</footer>

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
